h1 {
  font-family: "Trade Winds", system-ui, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid #115598;
  margin: 2% 1.66%;
}

img {
  width: 30%;
  height: 300px;
  float: left;
  margin: 1.66%;
}
